body {
	background: #000 fixed url("/images/nebula_stretch.jpg");
}

ul {
	padding-left: 0em;
}

.li-alignment {
	position: relative;
}

.li-rigth, .li-left {
	position: absolute;
	top: 0em;
	left: 0em;
}

.li-left {
	text-align: left;
	display: inline;
}

.li-right {
	text-align: right;
}

div.end {
	position: absolute;
	top: 150px;
	left: 50px;
	background: #002;
	border: 3px gray solid;
}

p.end {
	width: 500px;
}
.super-script {
	vertical-align: top;
	font-size: 75%;
}

.notice {
	color: red;
}

.navigation, .spacestation, .inventory {
	border: 3px gray solid;
	margin: 3px 300px 10px 25px;
	padding: 3px 25px;
	background: #002;
}

.navigation {
	position: relative;
	border: 3px gray solid;
	margin: 3px 25px 10px 25px;
	padding: 0em;
	background: #002;
}

.navigation-notice {
	position: absolute;
	bottom: 1em;
	left: 0.5em;
}

.routes {
	position: absolute;
	left: 20em;
	top: 0em;
}

li.routes-spacer {
	width: 20em;
	height: 0em;
	list-style-type: none;
}

img.navigation-spacer, img.spacestation-image {
	height: 169px;
	width: 225px;
}

div.spacestation-image {
	position: absolute;
	top: 0px;
	right: 0px;
}

.navigation-information {
	position: absolute;
	top:  0em;
	left: 1em;
}

.spacestation {
	position: relative;
	height: 30em;
	padding-right: 34em;
}

.goods {
	position: absolute;
	top: 1em;
	right: 1em;
}

li.good-spacer {
	width: 30em;
	height: 0em;
	list-style-type: none;
}

input.store-field {
	width: 30px;
	default: 1;
}

img.spacestation-descriptive-image {
	float: left;
	height: 5em;
	width: 6.49em;
	padding: 0.25em;
}

.inventory {
	float: right;
	margin: 0px 25px 10px 0;
	width: 210px;
}
