body {
	background: #000 fixed url("/images/nebula_stretch.jpg");
}

h1 {
	font-size: 300%;
	margin-left: 1em;
	color: #999
}

ul {
	padding-left: 0em;
}

.li-alignment {
	position: relative;
}

.li-rigth, .li-left {
	position: absolute;
	top: 0em;
	left: 0em;
}

.li-left {
	text-align: left;
	display: inline;
}

.li-right {
	text-align: right;
}

div.end, .introduction {
	position: absolute;
	padding: 2em;
	width: 40em;
	top: 15em;
	left: 15em;
	background: #002;
	border: 0.3em gray solid;
}

.introduction {
	top: 5em;
}

.super-script {
	vertical-align: top;
	font-size: 75%;
}

.navigation, .spacestation, .inventory, .space-ship {
	border: 0.3em gray solid;
	margin: 1em 24.6em 2em 2.5em;
	padding: 1em 2.5em;
	background: #002;
}

.navigation {
	position: relative;
	border: 0.3em gray solid;
	margin: 1em 2.5em 2em 2.5em;
	padding: 0em;
	background: #002;
}

.navigation-notice {
	position: absolute;
	color: red;
	font-size: 200%;
	bottom: 0.5em;
	left: 0.5em;
}

.routes {
	position: absolute;
	padding-right: 1em;
	right: 225px;
	top: 0em;
}

li.routes-spacer {
	height: 0em;
	width: 20em;
	list-style-type: none;
}

img.navigation-spacer, img.spacestation-image {
	height: 169px;
	width: 225px;
}

div.spacestation-image {
	position: absolute;
	top: 0px;
	right: 0px;
}

.navigation-information {
	position: absolute;
	top:  0em;
	left: 1em;
}

.spacestation {
	position: relative;
	height: 23em;
	padding-right: 30em;
}

.goods {
	position: absolute;
	top: 1em;
	right: 1em;
}

li.good-spacer {
	width: 26em;
	height: 0em;
	list-style-type: none;
}

input.store-field {
	width: 30px;
	default: 1;
}

img.spacestation-descriptive-image {
	float: left;
	height: 5em;
	width: 6.49em;
	padding: 0.25em;
}

.inventory {
	float: right;
	margin: 0em 2.5em 1em 0em;
	width: 16em;
}

.space-ship {
	position: relative;
	padding: 0em;
}

.space-ship .ship-info {
	position: absolute;
	top: 1em;
	left: 1em;
}

.space-ship img {
	float: right;
	height: 230px;
}

.space-ship img.spacer {
	float: none;
	height: 230px;
}
