<div class="inventory">
	<h2> Cargo Hold</h2>
	<p>
		Used | Maximum
		<br />
		71% | 1570 m<span class="super-script">3</span>
	</p>
	<%= render( :partial => "cargos" ) %>
	<button type="button">Empty Hold</button>
</div>

	
