
		<li>
			<div class="li-alignment" >
				<div class="li-left" >
					<%= render( :partial => left , :locals => { :locals => locals } )%>
				</div>

				<div class="li-right" >
					<%= render( :partial => right, :locals => { :locals => locals }  )%>
				</div>
			</div>
		</li>
