
<div class="navigation">

<h2>
	Navigation: <%= @ship.location.name %>
</h2>

	<ul>
		<%= render( :partial => "route", :collection => @ship.location.routes ) %>
	</ul>
	<h3>Fuel: <%= number_with_delimiter( @ship.fuel ) %>

</div>
