					<%= form_tag(:method => :post, :action => :fly_to ) %>
						<input type="hidden" value="<%= locals.to.id %>" name="destination" >
						<input type="Submit" value="Fly to">

						<%= locals.to.name %>
					</form>
