
<div class="spacestation">
	<h2>
		Spacestation <%= @ship.location.name %>
	</h2>

	<%- if flash[:station_notice] -%>
		<div id="notice"><%= flash[:station_notice] %></div>
	<%- end -%>
		<%= image_tag("HeadShot.jpg", :class => "spacestation-descriptive-image") %>
		The spacestion AssWipe has been the backbone of the Herities traid empier. The station was renamed after its most famious administrator Adam Henry. He was most notibley known for takeing care of things. However his name was replaced as the intersetler langwage changed with the historical refrence Adam Henry. Inevidbly the station took on the name of He Who Take On The Ass Hole.

	<%= render( :partial => "goods" ) %>
</div>
