
<div class="spacestation">
	<h2>
		Space Station <%= @ship.location.name %>
	</h2>

		<%= image_tag("HeadShot.jpg", :class => "spacestation-descriptive-image") %>
		<%= @ship.location.description %>

	<%= render( :partial => "goods" ) %>
</div>
