<h1>
	Space Freighters
</h1>

<%= render( :partial => "navigation" ) %>
<%= render( :partial => "inventory" ) %>
<%= render( :partial => "spacestation" ) %>
<%= render( :partial => "space_ship" ) %>

	
