<div class=introduction >
	<h1> Welcome </h1>
	<h2> To Space Freighters </h2>
	<p>
		 I wrote Space Freighters as a learning tool for my self. I wanted to make a game
		 about commerce ina Sci-Fi setting. That would be an excuse for studing up on
		 ruby/rails/html/css.
	</p>
	<p>
		 The goal is to amass enough money to buy a retirement from Jupiter's Thrown. Fuel
		 is the form of currency in the game as it stands. The control has evolved into as
		 they are now. Click the Fly To button in the routes listing to fly to associated
		 space station. Write in the amount next to Buy and Sell button to make a
		 transaction with the appropriate commodity. If a non-valid number used the app
		 will assume the maximum for the fuel allowed.
	</p>
	<h2> Enter <%= link_to("Space Freighters", :action => :index ) %> </h2>
</div>
