<div class=introduction >
	<h1> Welcome </h1>
	<h2> To Space Freighters </h2>
	<p>
		 I wrote Space Freighters as a learning tool for my self. I wanted to make a game
		 about commerce ina Sci-Fi setting.
	</p>
	<p>
		 The goal is to amass enough money to buy a retirement at the space station Jupiter's Thrown. Fuel
		 is the form of currency in the game.  You can fly from space staiton to space
		 station, and buy and sell commodities.
	</p>
	<h2> Enter <%= link_to("Space Freighters", :action => :index ) %> </h2>
</div>
