<div class="end" >
	<h1> Congradulations</h1>
	<h2> You have achaved retirement!!!!</h2>
	<p>
		After braving the space lanes for years bringing
		people there wanton junk, you have amassed enough
		money to never work again.
	</p>
</div>
